  <!-- {{ name  }} -->
  <recipeSet priority="Normal">
    <recipe whiteboard="UPT Smoke test - {{ name }} - HOST 1" role="None" ks_meta="redhat_ca_cert harness='restraint-rhts beakerlib-redhat' selinux=--permissive" kernel_options="" kernel_options_post="">
      <autopick random="false" />
      <packages />
         {% include 'ks_appends.j2' %}
      <repos />
         {% include 'distro_requires.j2' %}
         {% include 'host_requires.j2' %}
      <partitions />
         {% block tasks_host_1 %}{% endblock %}
    </recipe>
    <recipe whiteboard="UPT Smoke test - {{ name }} - HOST 2" role="None" ks_meta="redhat_ca_cert harness='restraint-rhts beakerlib-redhat' selinux=--permissive" kernel_options="" kernel_options_post="">
      <autopick random="false" />
      <packages />
         {% include 'ks_appends.j2' %}
      <repos />
         {% include 'distro_requires.j2' %}
         {% include 'host_requires.j2' %}
      <partitions />
         {% block tasks_host_2 %}{% endblock %}
    </recipe>
  </recipeSet>
