      <task name="UPT smoke test aborted due to a timeout" role="STANDALONE">
        <fetch url="https://gitlab.com/redhat/centos-stream/tests/kernel/kernel-tests/-/archive/main/kernel-test-main.zip#upt_smoke_tests/timeout" />
        <params>
          <param name="CKI_ID" value="10007" />
          <param name="CKI_NAME" value="UPT Smoke Test Timeout" />
          <param name="CKI_UNIVERSAL_ID" value="upt_smoke_tests_timeout" />
          <param name="CKI_MAINTAINERS" value="John Doe &lt;jdoe@redhat.com&gt; / jdoe" />
          <param name="CKI_WAIVED" value="False" />
        </params>
      </task>
